@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* set the basic*/
*{
    font-family: 'Varta', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    box-sizing: border-box;
}

.logoblack-container img {
    width: 150px;
    margin-top: 30px;
    margin-left: 40px;
}

h1 {
    letter-spacing: 1.5px;
    font-weight: 1000;
    color: #3A7877;
    font-size: 50px;
    text-align: center;
}

h4 {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
    color: #666;
}

p {
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 2;
    text-align: left;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    font-family: 'Overpass', sans-serif;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #6BB082;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* role selection */
.roleselection {
    margin-top: 100px;
}

label[for="userType"] {
    font-size: 20px;
    letter-spacing: 1px;
}

.select-dropdown {
    font-family: 'Overpass', sans-serif;
    width: 220px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom:20px
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-size: 16px;
}

.select-dropdown:hover {
    border-color: #3A7877;
}

.select-dropdown:focus {
    outline: none;
    border-color: #3A7877;
}

footer p {
    padding: 50px;
    letter-spacing: 1px;
    font-size: 14px
}

/* home page */
.home-page {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* height: 100vh; Ensure the page takes up the full height of the viewport */
    margin-top: 30px;
}

.logo-container img {
    max-width: 80%;
    text-align: center;
}

.home-page h1 {
    letter-spacing: 5px;
    font-weight: 100;
    color: #3A7877;
    font-size: 45px;
}

.home-page h2{
    padding-top: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
}

.content-container {
    padding-top: 30px;
    max-width: 70%;
}

.content-container p{
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 2;
    text-align: left;
    color: #666;
}

.home-page h3{
    padding-top: 50px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 35px;
}

/* Float buttons to the left */
.home-page input[type="submit"] {
    font-family: 'Overpass', sans-serif;
    background-color: #6BB082;
    font-size: 20px;
    float: left;
    margin-right: 10px; /* Set margin between buttons */
}

.home-page input[type="submit"]:hover {
    background-color: #063331;
}

/* Sign In page styles */

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto 0;
    padding: 50px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content > * {
    background-color: #FFF;
}

.container > * {
    background-color: #FFF;
}

 /* Sign In form */
 .content .signin-form input[type="text"],
 .content .signin-form input[type="password"] {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #FFF; /* the color in the frame */
 }

 .content p,label {
      font-weight: 1000;
      font-size: 20px;
      text-align: left;
      color: black;
      background-color: #FFF;
 }

 /* Set font size for User and Password */
 .content .signin-form label {
     font-size: 30px;
 }

 .content .signin-form input[type="submit"] {
     width: 100%;
     padding: 10px;
     margin-bottom: 30px;
     border: none;
     border-radius: 5px;
     background-color: #6BB082;
     color: white;
     font-size: 18px;
     cursor: pointer;

 }

 .content .signin-form input[type="submit"]:hover {
     background-color: #063331;

}

/* Role Selection page styles */

.roleselection {
    width: 100%;
    max-width: 500px;
    margin: 100px auto 0; /* 將 margin-top 設置為 100px */
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.roleselection > * {
    background-color: #FFF;
}

/* Role Selection form */
.roleselection form {
    margin-top: 20px;
}

.roleselection label {
    display: block;
    font-size: 25px;
    color: #333;
    background-color: #FFF;
    text-align: center;
}

.roleselection select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: #666;
}

.roleselection input[type="submit"] {
     width: 100%;
     padding: 10px;
     margin-top: 30px;
     margin-bottom: 30px;
     border: none;
     border-radius: 5px;
     background-color: #6BB082;
     color: white;
     font-size: 18px;
     cursor: pointer;
}

.roleselection input[type="submit"]:hover {
    background-color: #063331;
}

/* registration */

.registration .container {
    width: 100%;
    max-width: 550px;
}

.registration h1 {
    padding-top: 10px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
}

.registration form label {
    display: block;
    margin-bottom: -5px;
    font-size: 20px;
    color: #333;
    text-align: left;
}

.registration form input[type="text"],
.registration form input[type="email"],
.registration form input[type="password"] {
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FFF;
}

.registration select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FFF;
}

/* Checkbox style */
input[type="checkbox"] {
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

/* Checkbox checked */
input[type="checkbox"]:checked {
    background-color: #3A7877;
}

input[type="checkbox"] + label {
    font-weight: 100;
    font-size: 16px;
    margin-left: 5px;
    color: #666;
}

.hidden {
    display: none;
}