@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* set the basic*/
*{
    font-family: 'Varta', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100bh;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;

}

p {
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    font-family: 'Overpass', sans-serif;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #6BB082;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* role selection */
.roleselection {
    margin-top: 100px;
}

label[for="userType"] {
    font-size: 20px;
    letter-spacing: 1px;
}


.select-dropdown {
    font-family: 'Overpass', sans-serif;
    width: 220px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom:20px
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-size: 16px;
}

.select-dropdown:hover {
    border-color: #45a049;
}

.select-dropdown:focus {
    outline: none;
    border-color: #45a049;
}

/* home page */
.home-page {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* height: 100vh; Ensure the page takes up the full height of the viewport */
    margin-top: 30px;
}

.logo-container img {
    max-width: 80%;
    text-align: center;
}

.home-page h1 {
    letter-spacing: 5px;
    font-weight: 100;
    color: #3A7877;
    font-size: 45px;
}

.home-page h2{
    padding-top: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
}

.content-container {
    padding-top: 30px;
    max-width: 70%;
}

.home-page p{
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 2;
    text-align: left;
    color: #666;
}

.home-page h3{
    padding-top: 50px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 35px;
}

/* Float buttons to the left */
.home-page input[type="submit"] {
    font-family: 'Overpass', sans-serif;
    background-color: #6BB082;
    font-size: 20px;
    float: left;
    margin-right: 10px; /* Set margin between buttons */
}

.home-page input[type="submit"]:hover {
    background-color: #45a049;
}



